/*#tirada {}  aqui para ponerle onda al boton de tirada  */


.dados {
    display: flex;
    background-color: black;
    height: 80px;
    align-items: center;
    gap: 12px; 
    justify-content: center;
    
}

.dados div {
    height: 60px;
    width: 60px;
background-color: white;
padding: 3px;

}

.tablero {
        display: flex;
        flex-direction: column;
    background-color: black;
    height: 450px;
    align-items: center;
    gap: 12px; 
    justify-content: center;
}

.tablero article {
    display: inline-flex;
     height: 60px;
    width: 400px;
background-color: white;
padding: 3px;   
    align-items: center;
    gap: 12px; 
}

.tablero article div {
    display: inline-flex;
    flex-direction: row;
}

.dado-seleccionado {
            border: 3px solid red;
}