body {
    margin: 0;
    background-image: url("img/fondo_cartas.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

/* Contenedor de las cartas */
#cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 1000px;
    margin: 30px auto;
}

/* Cada carta */
#cartas button {
    width: 150px;
    height: 200px;
    padding: 0;
    border: 7px solid green;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

/* Imagen de la carta */
#cartas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Tiempo */
#tiempo {
    position: fixed;
    right: 30px;
    top: 30px;
    font-size: 30px;
    font-weight: bold;
}
#reiniciar {
    background-color: #e63946;
    color: white;
    border: 5px solid #1b5e20;
    border-radius: 8px;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#reiniciar:hover {
    transform: scale(1.05);
}

h1 {
    text-align: center;
    font-size: 45px;
    color: white;
    text-shadow: 4px 4px 0px #000;
}
#mensaje {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: 4px solid green;
    padding: 12px;
    width: fit-content;
    margin: 20px auto;
}

#temporizador {
    position: fixed;
    top: 20px;
    right: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: 5px solid green;
    padding: 12px 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
}
#puntajeFinal {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

#resultado {
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 0px black;
}